body {
  padding: 0px;
  margin: 0px;
}
ul {
    margin: 0;
    padding: 0;
}
ul li{
    margin: 0;
    padding: 0;
    list-style-type:none;
}
a {
    text-decoration: none;
}
input {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    &:active {
        border: none;
    }
}
* { 
    -webkit-user-select: none; 
}

.__index_wrapper {
    margin-top: 15px;
    box-sizing: border-box;
    padding: 0 52.5px;
    .__btn {
        margin: 0;
    }
}

.__btn {
    display: block;
    box-sizing: border-box;
    margin: 0 52.5px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}

.__btn_all_in {
    background-image: linear-gradient(126deg, #1B3BD8 0%, #176CE0 31%, #0B92E7 49%, #0BB6EB 71%, #00E0F2 100%);
    color: #FFFFFF;
    border-radius: 3px;
}

.__btn_border {
    border: 1px solid #195BDD;
    border-radius: 3px;
    color: #195ADD;
}

.__btn_input {
    background: #F3F6F9;
    border: 1px solid #D4DEE7;
    border-radius: 4px;
    opacity: 0.3;
    color: #333;
    text-align: left;
    padding: 0 16px;
    &.active {
        opacity: 1;
    }
    input {
        background: #F3F6F9;
        width: 100%;
        font-size: 16px;
    }
}

.__btn_link {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #195BDD;
}

.__ellipsis {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.__pointer {
    cursor: pointer;
}
