body {
  padding: 0px;
  margin: 0px;
}
ul {
    margin: 0;
    padding: 0;
}
ul li{
    margin: 0;
    padding: 0;
    list-style-type:none;
}
a {
    text-decoration: none;
}
* { 
    -webkit-user-select: none; 
}
